@model IEnumerable<WellVet_v2.Models.Post>

@{
    ViewData["Title"] = "Gönderiler";
}

<h1>Gönderiler</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Kullanıcı
            </th>
            <th>
                İçerik
            </th>
            <th>
                Tarih
            </th>
            <th>
                İşlem
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.FirstName @item.User.LastName
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.CreatedAt.ToString("yyyy-MM-dd HH:mm")
                </td>
                <td>
                    <tr>
                        
                            @if( item.User.UserTypeId == 5){
                    <td>
                                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal">
                                Yorum Ekle
                            </button>
                    </td>
                            } 
                           
                       
                    </tr>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Create">Yeni Gönderi Oluştur</a>
</div>

<!-- Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>
